@import '../../node_modules/famfamfam-flags/dist/sprite/famfamfam-flags.css';

.acf-country-flag-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	margin-top: -.2em;
}
.select2-container.acf-country {
	width: 100%;
}
